/**
  * Name: Restaurant HTML Template - Sushi 
  * Version: 1.0.1
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import "../icon/style.css";
@import "shortcodes.css";
@import "responsive.css";
@import "animation.css";
@import "nouislider.min.css";
@import "map.min.css";
@import "magnific-popup.min.css";
@import "animate.min.css";
@import "swiper-bundle.min.css";
@import "../font/font.css";
@import "bootstrap.css";
/**

  	* Reset Browsers
    * General
	* Elements
  	* Forms
	* Typography
	* Extra classes
	* link style
	* header
    * footer
    * header section
    * mobile
    * cusor
    * preload

*/

/* Reset Browsers
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    outline       : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
    font-family   : inherit;
    font-size     : 100%;
    font-style    : inherit;
    font-weight   : inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

html {
    font-size               : 62.5%;
    overflow-y              : scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust    : 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

body {
    background : #fff;
    line-height: 1;
    padding: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align : left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: none
}

a img {
    border: 0
}

img {
    max-width: 100%;
    height   : auto;
}

select {
    max-width: 100%
}

/* General
-------------------------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-family            : 'Oswald', sans-serif;
    color                  : #696969;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering         : optimizeLegibility;
    overflow-x             : hidden;
    overflow-y             : auto;
}

img {
    height                : auto;
    max-width             : 100%;
    vertical-align        : middle;
    -ms-interpolation-mode: bicubic
}

p {
    font-family: 'CerebriSans', sans-serif;
    font-weight: 400;
    font-size  : 15px;
    line-height: 25px;
    color      : #666666;
}

strong,
b,
cite {
    font-weight: bold;
}

dfn,
cite,
em,
i,
blockquote {
    font-style: italic;
}

abbr,
acronym {
    border-bottom: 1px dotted #e0e0e0;
    cursor       : help;
}

.btn-link:focus, 
.btn-link:hover,
mark,
ins {
    text-decoration: none;
}

sup,
sub {
    font-size     : 75%;
    height        : 0;
    line-height   : 0;
    position      : relative;
    vertical-align: baseline;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

address {
    font-style: italic;
    margin    : 0 0 20px;
}

code,
kbd,
tt,
var,
samp,
pre {
    margin         : 20px 0;
    padding        : 4px 12px;
    background     : #f5f5f5;
    border         : 1px solid #e0e0e0;
    overflow-x     : auto;
    -webkit-hyphens: none;
    -moz-hyphens   : none;
    hyphens        : none;
    border-radius  : 0;
    height         : auto;
}

svg,
svg path {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Elements
-------------------------------------------------------------- */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

hr {
    margin-bottom: 20px;
    border       : dashed 1px #ccc;
}

/* List */

ul,
ol {
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul li,
ol li {
    padding: 0;
}

dl,
dd {
    margin: 0 0 20px;
}

dt {
    font-weight: bold;
}

del,
.disable {
    text-decoration: line-through;
    filter         : alpha(opacity=50);
    opacity        : 0.5;
}


/* Table */

table,
th,
td {
    border: 1px solid #343444;
}

table {
    border-collapse: separate;
    border-spacing : 0;
    border-width   : 1px 0 0 1px;
    margin         : 0 0 30px;
    table-layout   : fixed;
    width          : 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align : left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight : bold;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 8px 12px;
}

/* Media */

embed,
object,
video {
    margin-bottom : 20px;
    max-width     : 100%;
    vertical-align: middle;
}

p>embed,
p>iframe,
p>object,
p>video {
    margin-bottom: 0;
}

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size     : 100%;
    line-height   : inherit;
    margin        : 0;
    vertical-align: baseline;
}

input,
textarea,
select {
    font-size       : 14px;
    max-width       : 100%;
    background      : #fff;
    /* Removing the inner shadow on iOS inputs */
}

textarea {
    overflow      : auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
}

input[type="checkbox"] {
    display: inline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height       : 1;
    cursor            : pointer;
    -webkit-appearance: button;
    border            : 0;
}

input[type="checkbox"],
input[type="radio"] {
    padding : 0;
    width: 15px;
    height: 25px;
    margin-right: 13px;
    cursor : pointer;
    vertical-align: sub;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border : 0;
    padding: 0;
}


/* Remove chrome yellow autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset
}


/* Reset search styling */
input[type="search"] {
    outline: 0
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none
}

/* Contact Form */
fieldset {
    margin-bottom: 0px;
    width: 100%;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

.select {
    position: relative;
}

.select::after {
    position: absolute;
    content: '\e91d';
    right: 10px;
    top: 46%;
    width: 20px;
    height: 20px;
    font-family: 'icomoon' ;
    font-size: 13px;
    font-weight: 700;
    display: block;
    color: #fff;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

select {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 17px;
    height: 50px !important;
    font-family: 'CerebriSans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    background-color: #48433f;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
}

select option {
    font-size: 16px;
    line-height: 11px;
    color: #696969;
    background-color: #fff;
    text-transform: capitalize;
}

select.style-1 {
    margin-bottom: 0;
    color: #fff;
    background-color: #111111;
    min-width: 193px;
}

form .columns {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: 1px solid #111111;
    outline           : 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
    border-radius: 0px;
    padding: 15px 20px;
    width: 100%;
    height: 50px;
    background: #fff;
    font-size  : 15px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'CerebriSans';
    color      : #111111;
    overflow: hidden;
    margin-bottom: 22px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    outline           : 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
    background-color: #111111;
    color: #FFF;
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    font-size  : 15px;
    font-weight: 400;
    line-height: 29px;
    font-family: 'CerebriSans';
    color      : #171412;
}

textarea.style-1,
input[type="text"].style-1,
input[type="password"].style-1,
input[type="datetime"].style-1,
input[type="datetime-local"].style-1,
input[type="date"].style-1,
input[type="month"].style-1,
input[type="time"].style-1,
input[type="week"].style-1,
input[type="number"].style-1,
input[type="email"].style-1,
input[type="url"].style-1,
input[type="search"].style-1,
input[type="tel"].style-1,
input[type="color"].style-1 {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    margin-bottom: 20px;
}

textarea.style-1::placeholder,
input[type="text"].style-1::placeholder,
input[type="password"].style-1::placeholder,
input[type="datetime"].style-1::placeholder,
input[type="datetime-local"].style-1::placeholder,
input[type="date"].style-1::placeholder,
input[type="month"].style-1::placeholder,
input[type="time"].style-1::placeholder,
input[type="week"].style-1::placeholder,
input[type="number"].style-1::placeholder,
input[type="email"].style-1::placeholder,
input[type="url"].style-1::placeholder,
input[type="search"].style-1::placeholder,
input[type="tel"].style-1::placeholder,
input[type="color"].style-1::placeholder {
    color      : #fff;
}

textarea.style-1:focus,
input[type="text"].style-1:focus,
input[type="password"].style-1:focus,
input[type="datetime"].style-1:focus,
input[type="datetime-local"].style-1:focus,
input[type="date"].style-1:focus,
input[type="month"].style-1:focus,
input[type="time"].style-1:focus,
input[type="week"].style-1:focus,
input[type="number"].style-1:focus,
input[type="email"].style-1:focus,
input[type="url"].style-1:focus,
input[type="search"].style-1:focus,
input[type="tel"].style-1:focus,
input[type="color"].style-1:focus {
    background-color: #FFF;
    color: #111111;
}

textarea.style-2:focus,
input[type="text"].style-2:focus,
input[type="password"].style-2:focus,
input[type="datetime"].style-2:focus,
input[type="datetime-local"].style-2:focus,
input[type="date"].style-2:focus,
input[type="month"].style-2:focus,
input[type="time"].style-2:focus,
input[type="week"].style-2:focus,
input[type="number"].style-2:focus,
input[type="email"].style-2:focus,
input[type="url"].style-2:focus,
input[type="search"].style-2:focus,
input[type="tel"].style-2:focus,
input[type="color"].style-2:focus {
    background-color      : #fff;
    color: #111111;
}

input[type="date"]::-webkit-calendar-picker-indicator::after {
    display: none;
}

/* Button */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family       : 'Oswald';
    font-weight       : 700;
    font-size         : 16px;
    line-height       : 11px;
    background-color  : #fff;
    color             : #d74d29;
    padding           : 15px;
    height            : 50px;
    border            : none;
    display           : inline-block;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    transition        : all 0.3s ease;
    position          : relative;
}

/* Button hover + focus */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
    border: none;
}

form textarea {
    margin-bottom: 30px;
    height: 195px !important;
}

/* Placeholder color */
::-webkit-input-placeholder {
    color: #171412;
}

:-moz-placeholder {
    color: #171412;
}

::-moz-placeholder {
    color  : #171412;
    opacity: 1;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
    color: #171412;
}

/* Typography
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family   : 'Oswald', sans-serif;
    color         : #051028;
    font-weight   : 700;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 75px;
    line-height: 90px;
}

h2 {
    font-size: 48px;
    line-height: 57px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
}

h4 {
    font-size: 22px;
    line-height: 33px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

h6 {
    font-size: 18px;
    line-height: 27px;
}

/* Extra classes
-------------------------------------------------------------- */
.hidden {
    display: none;
}
.block {
    display: block;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed !important;
}
.position-unset {
    position: unset;
}
.z-5 {
    z-index: 5;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-grow {
    flex-grow: 1;
}
.row-reverse {
    flex-direction: row-reverse;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.text-end {
    text-align: end;
}
.text-center {
    text-align: center;
}
.w-full {
    width: 100% !important;
}
.h-full {
    height: 100%;
}
.mt-2 {
    margin-top: 2px !important;
}
.mt-3 {
    margin-top: 3px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-48 {
    margin-top: 48px !important;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.capitalize {
    text-transform: capitalize;
}
.italic {
    font-style: italic;
}
.e-resize {
    cursor: e-resize;
}
.auto-slide .swiper-slide {
    width: auto;
}
.auto-slide  .swiper-wrapper {
    transition-timing-function: linear;
}
.tf-color {
    color: #C3A27C !important;
}
#wrapper{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}

/* link style
-------------------------------------------------------------- */
a {
    text-decoration   : none;
    color             : #051028;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color             : #d74d29;
    text-decoration   : none;
    outline           : 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
}

a:focus {
    color: #FFF;
}

/* button */
/* -------------------------------------------------------------- */
.button-default {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    color: #111111;
    letter-spacing: 2px;
    position: relative;
}

.button-default::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -7px;
    left: 1px;
    background-color: #111111;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
}

.button-default:hover::before {
    background-color: #d74d29;
}

.button-default.noline::before {
    display: none;
}

.button-default.black {
    color: #FFF;
}

.button-default.black:hover {
    color: #d74d29;
}

.button-default.black::before {
    background-color: #FFF;
}


.button-default.black:hover::before {
    background-color: #d74d29;
}

.button-reply {
    width: max-content;
    height: 33px;
    padding: 0 18px 0 15px;
    background-color: #2D2723;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'CerebriSans';
    font-size: 12px;
    letter-spacing: 0.5px;
}

.button-reply:hover {
    background-color: #d74d29;
    color: #FFF;
}

.button-style-1 {
    width: max-content;
    height: 50px;
    background-color: #fff;
    color: #111111;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2.6px;
    padding: 0 33px 0 35px;
    border: 1px solid #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-style-1:hover {
    background-color: #111111;
    color: #FFF;
}

.button-style-1.white {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #fff;
}

.button-style-1.white:hover {
    background-color: #FFF;
    color: #111111;
}

.button-style-1.black {
    background-color: #111111;
    color: #FFF;
}

.button-style-1.black:hover {
    color: #111111;
    background-color: #FFF;
}

/* header */
/* -------------------------------------------------------------- */
.header {
    position: relative;
    z-index: 20;
    width: 100%;
}

.header-inner-wrap {
    display: flex;
    align-items: center;
}

.canvas {
    width: 39px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.canvas span {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 39px;
    height: 3px;
    background-color: #111111;
}

.canvas::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 39px;
    height: 3px;
    background-color: #111111;
}

.canvas::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    width: 39px;
    height: 3px;
    background-color: #111111;
}

/* main-nav */
.main-nav {
    flex-grow: 1;
}

.menu-primary-menu {
    display: flex;
    gap: 57px;
    padding-left: 387px;
}

.menu-primary-menu li {
    position: relative;
}

.menu-primary-menu li a {
    font-family: 'Oswald';
    font-size: 17px;
    font-weight: 600;
    line-height: 114px;
    color: #111111;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.menu-primary-menu > li > a::after {
    position: absolute;
    content: '/';
    right: -30px;
}

.menu-primary-menu > li:last-child > a::after {
    display: none;
}

.menu-primary-menu > li.current-menu-item > a {
    color: #d74d29;
}

.menu-primary-menu > li.current-menu-item > a::before {
    position: absolute;
    content: '';
    top: -16px;
    left: 37%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d74d29;
}

.menu-primary-menu > li > a:hover {
    color: #d74d29;
}

/* sub-menu */
.menu-primary-menu li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.menu-primary-menu .sub-menu {
    position: absolute;
    background: #fff;
    min-width: 220px;
    left: 0%;
    top: 110%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(195 162 124 / 20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-primary-menu .sub-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #F1F1F1;
}

.menu-primary-menu .sub-menu li:last-child {
    border-bottom: none;
}

.menu-primary-menu .sub-menu li a {
    color: #121212;
    font-size: 16px;
    line-height: 30px;
}

.menu-primary-menu .sub-menu li.current-item a,
.menu-primary-menu .sub-menu li a:hover {
    color: #d74d29;
}

/* canvas */
.canvas-nav-wrap .overlay-canvas-nav {
    cursor: url(../images/close.svg),auto;
    content: '';
    position: fixed;
    right: 0%;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.canvas-nav-wrap.active .overlay-canvas-nav {
    opacity: 1;
    visibility: visible;
}

.canvas-nav-wrap.active .overlay-canvas-nav i {
    font-size: 25px;
    margin-right: 20px;
    color: #FFFFFF;
}

.canvas-nav-wrap .inner-canvas-nav {
    width: 340px;
    height: 100%;
    top: 0;
    right: -340px;
    position: fixed;
    background-color: #fff;
    z-index: 999999;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition   : all 0.5s ease;
    -ms-transition    : all 0.5s ease;
    -o-transition     : all 0.5s ease;
    transition        : all 0.5s ease;
}

.canvas-nav-wrap .inner-canvas-nav::-webkit-scrollbar {
    width: 0px;
}

.canvas-nav-wrap.active .inner-canvas-nav {
    right: 0;
}

.inner-canvas-nav .side-bar {
    padding: 30px;
    position: relative;
}

.inner-canvas-nav .side-bar .canvas-nav-close {
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}

.inner-canvas-nav .widget-search {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Header fixed
-------------------------------- */
.header.is-fixed .header-inner {
    position: fixed;
    padding: 0;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    border: none;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header.is-fixed.is-small .header-inner {
    top: 0;
    margin-top: 0px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 5px rgba(195 162 124 / 20%);
}

/* Mobile Menu Button */
.mobile-button {
    display           : none;
    position          : absolute;
    width             : 26px;
    height            : 26px;
    top               : 50%;
    right             : 15px;
    background-color  : transparent;
    cursor            : pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
    -webkit-transform : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
}

.mobile-button:before,
.mobile-button:after,
.mobile-button span {
    background-color  : #111111;
    -webkit-transition: all ease 0.3s;
    -moz-transition   : all ease 0.3s;
    transition        : all ease 0.3s;
}

.header_1.style-white .mobile-button::before,
.header_1.style-white .mobile-button::after,
.header_1.style-white .mobile-button span {
    background-color: #161616;
}

.mobile-button:before,
.mobile-button:after {
    content                 : '';
    position                : absolute;
    top                     : 0;
    height                  : 2px;
    width                   : 100%;
    left                    : 0;
    top                     : 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin    : 50% 50%;
    transform-origin        : 50% 50%;
}

.mobile-button span {
    position   : absolute;
    width      : 100%;
    height     : 2px;
    left       : 0;
    top        : 50%;
    overflow   : hidden;
    text-indent: 200%;
}

.mobile-button:before {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform   : translate3d(0, -7px, 0);
    transform        : translate3d(0, -7px, 0);
}

.mobile-button:after {
    -webkit-transform: translate3d(0, 7px, 0);
    -moz-transform   : translate3d(0, 7px, 0);
    transform        : translate3d(0, 7px, 0);
}

/* mobile header */
/* ------------------------------------ */
.mobile-nav-wrap .overlay-mobile-nav {
    cursor: url(../images/close.svg),auto;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.mobile-nav-wrap.active .overlay-mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-wrap.active .overlay-mobile-nav i {
    font-size: 25px;
    margin-right: 20px;
    color: #FFFFFF;
}

.mobile-nav-wrap .inner-mobile-nav {
    width: 320px;
    height: 100%;
    top: 0;
    left: -340px;
    position: fixed;
    background-color: #000;
    z-index: 999999;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition   : all 0.5s ease;
    -ms-transition    : all 0.5s ease;
    -o-transition     : all 0.5s ease;
    transition        : all 0.5s ease;
}

.mobile-nav-wrap .inner-mobile-nav::-webkit-scrollbar {
    width: 0px;
}

.mobile-nav-wrap.active .inner-mobile-nav {
    left: 0;
}

.inner-mobile-nav {
    padding: 15px;
    position: relative;
}

.inner-mobile-nav .mobile-nav-close {
    position: absolute;
    top: 40px;
    right: 15px;
    cursor: pointer;
}

/* menu-mobile-menu */
#menu-mobile-menu {
    margin-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 0px;
}

#menu-mobile-menu {
    display: flex;
    flex-direction: column;
}

#menu-mobile-menu>li {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 15px 0px;
    cursor: pointer;
}

#menu-mobile-menu>li .sub-menu-mobile li:last-child,
#menu-mobile-menu>li:last-child {
    border: none;
}

#menu-mobile-menu li a {
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

#menu-mobile-menu li.current-menu-item > a ,
#menu-mobile-menu li a:hover ,
#menu-mobile-menu li.current-item a {
    color: #d74d29;
}

#menu-mobile-menu li.menu-item-has-children-mobile > a::after {
    content: '\e901';
    position: absolute;
    font-family: 'icomoon';
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 17px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menu-mobile-menu>li.active a::after {
    transform: rotate(180deg);
}

#menu-mobile-menu>li .sub-menu-mobile {
    border-radius: 8px;
    display: none;
    text-align: start;
    overflow: hidden;
}

#menu-mobile-menu>li .sub-menu-mobile li {
    padding-left: 15px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

#menu-mobile-menu>li .sub-menu-mobile a {
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

/* home-2 */
.home-2 .mobile-nav-wrap .inner-mobile-nav {
    width: 0;
    height: 100%;
    top: 0;
    left: 117px;
    padding: 109px 72px 110px 77px;
    border-left: 1px solid #e0e0e0;
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 999999;
    overflow-x: scroll;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.home-2 .mobile-nav-wrap .inner-mobile-nav::-webkit-scrollbar {
    width: 0px;
}

.home-2 .mobile-nav-wrap.active .inner-mobile-nav {
    width: 1380px;
    opacity: 1;
    visibility: visible;
    overflow-x: auto;
}

.home-2 .inner-mobile-nav {
    padding: 15px;
    position: relative;
}

.home-2 .inner-mobile-nav > img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* left */
.home-2 .inner-mobile-nav .left {
    width: 27.7%;
    padding-top: 77px;
    border-right: 1px solid #e7e7e7;
}

.home-2 #menu-mobile-menu {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.home-2 #menu-mobile-menu>li {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 24px;
    padding-top: 0;
    cursor: pointer;
}

.home-2 #menu-mobile-menu>li .sub-menu-mobile li:last-child,
.home-2 #menu-mobile-menu>li:last-child {
    border: none;
}

.home-2 #menu-mobile-menu li a {
    position: relative;
    font-family: 'Oswald';
    font-size: 35px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #111111;
}

.home-2 #menu-mobile-menu > li.menu-item-has-children-mobile > a::after {
    content: '+';
    position: absolute;
    font-family: 'Oswald';
    font-weight: 500;
    position: absolute;
    right: -23px;
    top: 18px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home-2 #menu-mobile-menu > li.active > a::after {
    content: '-';
    transform: none;
}

.home-2 #menu-mobile-menu>li .sub-menu-mobile {
    border-radius: 8px;
    display: none;
    text-align: start;
    overflow: hidden;
}

.home-2 #menu-mobile-menu>li .sub-menu-mobile li {
    padding: 11px 0px 5px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.home-2 #menu-mobile-menu>li .sub-menu-mobile a {
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}

.home-2 #menu-mobile-menu>li .sub-menu-mobile a::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    left: -20px;
    top: 10px;
    border-radius: 50%;
    background-color: #0c0b0b;
}

/* center */
.home-2 .inner-mobile-nav .center {
    padding: 100px 12px 10px 73px;
    border-right: 1px solid #e7e7e7;
    width: 35.5%;
}

.home-2 .inner-mobile-nav .center ul li {
    margin-bottom: 20px;
}

.home-2 .inner-mobile-nav .center .title {
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 2px;
}

.home-2 .inner-mobile-nav .center p {
    line-height: 32px;
}

.home-2 .inner-mobile-nav .center .numberphone {
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #d74d29;
    margin-top: 10px;
    margin-bottom: 34px;
}

.home-2 .inner-mobile-nav .center .widget-social a {
    width: 44px;
    height: 44px;   
    border: none;
}

/* right */
.home-2 .inner-mobile-nav .right {
    width: 36.8%;
    padding-top: 150px;
    padding-left: 75px;
}

.home-2 .inner-mobile-nav .right .wg-map {
    width: 380px;
    height: 380px;
    margin-top: 0;
    margin-left: 0;
    min-width: unset;
}

/* footer */
/* ---------------------------------- */
.footer {
    background-color: #111111;
    position: relative;
    padding-top: 75px;
    padding-bottom: 46px;
}

.footer > .left {
    position: absolute;
    top: 194px;
    left: 234px;
    z-index: 10;
}

.footer > .right {
    position: absolute;
    top: 194px;
    right: 234px;
    z-index: 10;
}

.text-special {
    font-family: 'IPAMincho';
    font-size: 30px;
    line-height: 50px;
    width: min-content;
    color: #FFF;
}

.footer .content {
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.footer .content::before {
    position: absolute;
    content: '';
    top: -13px;
    left: 0;
    width: 1px;
    height: calc(100% + 26px);
    background-color: #454545;
}

.footer .content::after {
    position: absolute;
    content: '';
    top: -13px;
    right: 0;
    width: 1px;
    height: calc(100% + 26px);
    background-color: #454545;
}

.footer .content .top {
    border-top: 1px solid #454545;
    margin-left: -13px;
    margin-right: -13px;
    padding-left: 13px;
    padding-right: 13px;
    border-bottom: 1px solid #454545;
    padding-top: 41px;
    padding-bottom: 43px;
}

.footer .content .top ul {
    display: flex;
    justify-content: center;
    gap: 10px 38px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.footer .content .top ul li {
    color: #FFF;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    position: relative;
}

.footer .content .top ul li::after {
    position: absolute;
    content: '/';
    right: -20px;
}

.footer .content .top ul li:last-child::after {
    display: none;
}

.footer .content .top ul li a {
    color: #FFF;
}

.footer .content .top ul li a:hover {
    color: #d74d29;
}

.footer p {
    color: #cacaca;
}

.footer .content .center {
    margin-left: -13px;
    margin-right: -13px;
    padding-left: 13px;
    padding-right: 13px;
    border-bottom: 1px solid #454545;
    padding-top: 43px;
    padding-bottom: 43px;
}

ul.intro {
    display: flex;
    justify-content: center;
    gap: 15px 45px;
    flex-wrap: wrap;
}

ul.intro li {
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
}

ul.intro li::after {
    position: absolute;
    content: '';
    right: -23px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d74d29;
}

ul.intro li:last-child::after {
    display: none;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    flex-wrap: wrap;
}

.footer .bottom .text {
    color: #FFF;
    font-family: "CerebriSans";
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.widget-social-text ul {
    display: flex;
    align-items: center;
    gap: 23px;
}

.widget-social-text ul li a {
    color: #fff;
    font-family: "CerebriSans";
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

.widget-social-text ul li a:hover {
    color: #d74d29;
}

/* style-1 */
.footer.style-1 {
    padding-top: 137px;
}

.footer.style-1 .logo-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.footer.style-1 .logo-footer p {
    max-width: 655px;
    text-align: start;
    margin-right: 16px;
    margin-top: 8px;
}

.footer.style-1 .content {
    margin-top: 54px;
    margin-bottom: 42px;
}

.footer.style-1 .content .top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 32px;
}

.footer.style-1 .content .top .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: start;
    padding-left: 64px;
    padding-top: 11px;
}

.footer.style-1 .content .top form {
    margin-right: 64px;
    display: flex;
    align-items: center;
}

.footer.style-1 .content .top form button {
    background-color: transparent !important;
}

.form-2 input {
    margin-bottom: 0;
    width: 481px;
}

.form-2 .bot button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #111111;
    border: none;
    font-size: 20px;
    padding: 0 18px 0 35px;
}

.footer.style-1 .content .center {
    padding-top: 45px;
    padding-bottom: 41px;
}

/* banner-page */
/* -------------------------------------------------------------- */
.banner-page .content {
    padding-top: 180px;
    padding-bottom: 122px;
    background-image: url(../images/bg-section/bg-blog.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner-page .content::before {
    background-color: rgba(2, 2, 4,0.4);
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-page .heading {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 35px;
}

.breadcrumbs li {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
}

.breadcrumbs li.item::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d74d29;
    color: #FFF;
    top: 12px;
    right: -26px;
}

.breadcrumbs li span,
.breadcrumbs li a {
    color: #FFF;
    letter-spacing: 1.5px;
}

.breadcrumbs li:hover a {
    color: #d74d29;
}

.banner-page .content.contact {
    background-image: url(../images/bg-section/bg-contact.jpg);
}

.banner-page .content.portfolio {
    background-image: url(../images/bg-section/bg-portfolio.jpg);
}

.banner-page .content.book-a-table {
    background-image: url(../images/bg-section/bg-book-a-table.jpg);
}

.banner-page .content.our-menu {
    background-image: url(../images/bg-section/bg-menu.jpg);
    padding-bottom: 119px;
}

.banner-page .content.about {
    background-image: url(../images/bg-section/bg-about-us.jpg);
}

.banner-page .content.our-chef {
    background-image: url(../images/bg-section/bg-our-chef.jpg);
}

.banner-page .content.space {
    background-image: url(../images/bg-section/bg-space.jpg);
}

.banner-page .content.shop {
    background-image: url(../images/bg-section/bg-shop.jpg);
}

/* wg-blog */
/* --------------------------- */
.blog-grid {
    padding-top: 135px;
    padding-bottom: 134px;
}

.wg-blog {
    margin-bottom: 78px;
    position: relative;
}

.wg-blog::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.wg-blog:hover::before {
    animation: height_blog 1s;
}

.date {
    position: absolute;
    width: 76px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #111111;
    text-align: center;
}

.date .day {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 3px;
    color: #FFF;
}

.date .month {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'CerebriSans';

}

.wg-blog .image {
    height: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.wg-blog .image img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wg-blog:hover .image img {
    margin-top: -90px;
}

.wg-blog .meta {
    font-family: 'CerebriSans';
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    color: #666666;
    padding-left: 2px;
    letter-spacing: 0.5px;
}

.wg-blog .meta span {
    position: relative;
    margin-right: 27px;
}

.wg-blog .meta span::after {
    position: absolute;
    width: 13px;
    height: 1px;
    content: '';
    top: 10px;
    right: -22px;
    background-color: #d74d29;
}

.wg-blog .meta span:last-child::after {
    display: none;
}

.wg-blog .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    padding-left: 1px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 24px;
}

.wg-blog .text {
    font-family: 'CerebriSans';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #666666;
    margin-top: -75px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wg-blog:hover .text {
    margin-top: -10px;
    margin-bottom: 25px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.wg-blog .bottom {
    margin-top: 0px;
    border-top: 1px solid #e1e2e3;
    padding-top: 19px;
}

.wg-blog.active .text {
    margin-top: -10px;
    margin-bottom: 23px;
    opacity: 1;
    visibility: visible;
}

.wg-blog.active .image img {
    margin-top: 0px;
    margin-bottom: 2px;
}

/* heading-section */
.heading-section .sub {
    color: #888888;
    font-family: 'CerebriSans';
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    position: relative;
}

.heading-section .main {
    color: #111111;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 11px;
}

.heading-section.style-1 .main {
    color: #FFF;
}

/* preload */
/* -------------------------------- */
.preload-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.preload-container .middle {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 100;
    margin: -30px 0 0 -30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: url(../images/preload.png);
    animation: preload 1.2s linear infinite alternate;
}

/* progress- */
/* ---------------------------------------- */
.progress-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    background: #d74d29;
}
  
.progress-wrap::after {
    position: absolute;
    content: '\e901';
    font-family: 'icomoon';
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}

.progress-wrap:hover::after {
    animation: 1s tf-buzz-out alternate linear infinite;
}
  
.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
  
.progress-wrap svg path {
    fill: none;
}
  
.progress-wrap svg.progress-circle path {
    box-sizing: border-box;
    stroke: #fff;
    stroke-width: 5;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

/* cursor */
/* ------------------------------------------  */
.tf-mouse {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden
}

.tf-mouse-inner {
    margin-left: -5px;
    margin-top: -5px;
    width: 8px;
    height: 8px;
    z-index: 10000;
    background-color: #d74d29;
    -webkit-transition: width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out, opacity .5s ease-in-out;
    transition: width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out, opacity .5s ease-in-out
}

.tf-mouse-inner.mouse-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #d74d29;
    opacity: 0.3;
}

.tf-mouse-outer {
    margin-left: -22px;
    margin-top: -22px;
    width: 40px;
    height: 40px;
    border: 2px solid #d74d29;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000;
    opacity: 0.5;
    -webkit-transition: all .05s ease-out;
    transition: all .05s ease-out
}

.tf-mouse-outer.mouse-hover {
    opacity: 0;
}